.card__img {
	height: 170px;
	width: 120px;
}

.card {
	border: 5px solid #b9d7ea;
	padding: 5px;
	height: 100%;
	width: 230px;
	background-color: #d6e6f2;
	color: black;
	position: relative;
	border-radius: 5px;
}

.card__title {
	margin-top: 5px;
	margin-bottom: 5px;
}
.card__author {
	margin-top: 5px;
	margin-bottom: 5px;
}

.card__clickme {
	position: absolute;
	bottom: 0;
	right: 5px;
	margin: 0px;
}
